<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/common.html}">
	<head>
		<title>Registration Account</title>
		<style>
		
		</style>
	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a class="text-home" th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Registrattion Account</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div>
					<h3>Accounts</h3>
					<div class="row mx-0">
						<div class="col-md-4 px-0">
							
						</div>
						<div class="col-md-8 px-0 d-flex justify-content-end">
						</div>
					</div>
					
					<div class="row mt-4">
						<div class="col-md-3 column mt-3 div2" th:each="account : ${accounts}">
							<a href="#">
								<div class="panel panel-default justify-content-center " >
								
									<div class="panel-body">
									<center>
										<img class="img-fluid rounded" th:src="@{'/files/' + ${account.logoLink}}" />
									</center>
									</div>
									
									<div class="panel-footer">
									
										<div class="company-name" > 
										<h5><font color="black">Name : </font> <a class="text-home" href="#" th:text="${account.name}"></a> </h5>
										</div>
										<div class="company-site" >
										<h5><font color="black">Website : </strong> <a class="text-home" href="#" th:text="${account.website}"></a> </h5>
										
										</div>
									</div>
									
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
