<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layouts/common.html}">
	<head>
		<title>New User</title>
		<meta charset="utf-8">
<Style>
   th, td {
      padding: 10px;
      border: 1px solid grey;
      border-collapse: collapse;
      
      text-align: center;
      }
</Style>

	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">New User</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					
					<div class="row mx-0">
						<div class="col-md-4 px-0">
						<h3>New User / Update User</h3>
					
						</div>
						
					<hr>
					<div style="background-color:red; color : white;" id="info" class="row mx-0 " th:if="${error  != null}">
				
						<div class="col-md-4 px-0">
					</div>
				
					<div class="col-md-8 px-0">
					
					<h4 th:text="${error}"></h4>
					
					</div>
					</div>
					<div class="row col-md-10" sec:authorize="hasAnyAuthority('super_admin')">
					
												<div class="col-md-12 px-0 ">
						
				<form th:action="@{/saveUser}" th:object="${user}" method="post">
					<div class="form-group">
					<label><strong>Name <font color="red">*</font></strong></label>
						<input type="text" class="form-control input-style " th:field="*{nom}" placeholder="Name" required>
					</div>
					<div class="form-group">
					<label><strong>Login <font color="red">*</font></strong></label>
						<input type="text" class="form-control input-style " th:field="*{login}" placeholder="login" required>
					</div>
					<div class="form-group">
					<label><strong>Password</strong></label>
						<input type="password" class="form-control input-style " th:field="*{password}" placeholder="password" >
					</div>
					<div class="form-group">
					<label><strong>Email</strong></label>
						<input type="email" class="form-control input-style " th:field="*{email}" placeholder="Email">
					</div>
					<div class="form-group">
					<label><strong>Phone</strong></label>
						<input type="number" class="form-control input-style " th:field="*{tel}" placeholder="Phone">
					</div>
					<div class="form-group">
						<input type="submit" class="btn custom-btn form-control col-4 mb-4" value="Save">
						<input type="hidden" th:field="*{id}">
					</div>
					
				</form>
                                </div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
