<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layouts/common.html}">
	<head>
		<title>Details Roles</title>
		<meta charset="utf-8">
<Style>
   th, td {
      padding: 10px;
      border: 1px solid grey;
      border-collapse: collapse;
      
      text-align: center;
      }
</Style>

	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Details Roles</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					
					<div class="row mx-0">
						<div class="col-md-4 px-0">
						<h3>Details Roles</h3>
					
						</div>
					
					</div>
					<hr>
					<div style=" background-color: green; color : white;" id="info" class="row mx-0 " th:if="${infos  != null}">
				
						<div class="col-md-5 px-0">
					</div>
				
					<div class="col-md-7 px-0">
					
					<h4 th:text="${infos}"></h4>
					
					</div>
					</div>
					<div class="row col-md-12" sec:authorize="hasAnyAuthority('super_admin')">
					
					
												<div class="col-md-12 px-0 ">
												
				
					<div class="form-group">
						<label><strong>Name</strong></label>
						<input type="text" class="form-control input-style " th:value="${role.name}" placeholder="Name" readonly="readonly">
					</div>
					<div class="form-group">
						<label><strong>Description</strong></label>
						<input type="text" class="form-control input-style " th:value="${role.description}" placeholder="Description" readonly="readonly">
					</div>
					
				<form th:action="@{/addsubpermissions}" th:object="${rolep}"  method="post">
				
				<label><strong>Add Permissions</strong></label>
			 	<div class="form-group" >
					<select th:field="*{permissionIds}" class="form-control input-style " >
    				<option th:each="permission : ${permissions}" th:value="${permission.id}" th:text="${permission.name}">
   					</option>
					</select>
					<input type="hidden" th:field="*{roleId}">
                </div>
                <div class="form-group">
						<input type="submit" class="btn custom-btn form-control col-4 mb-4" value="Add Permission">
					</div>
				</form>		<br>
				<h3>List Permissions For This Role</h3>
				<hr>					
		<table  id='tab'   class="stripe">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>  
                                        <th>Action</th>                                                                            
                                    </tr>
                                    </thead>
                                    <tbody >
                                
                                         <tr  th:each="perm: ${role.permissions}">
                                            <td th:text="${perm.name}"></td>
                                            <td th:text="${perm.description}"></td>
                                            <td >
                                          
                                            <a class="btn btn-danger deleteButton" th:href="@{/delsubpermissions(roleid=${role.id},permissionid=${perm.id})}">Remove</a>
                                            
                                            </td>

                                        </tr>
                                  
                                    </tbody>
                                </table>
		                                </div>
					</div>
				</div>
			</div>
		
		
	<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to remove this permission?</p>
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-success" id="delRef">Yes, Delete</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	</div>
</div>
	</body>
</html>
