<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/common.html}">
	<head>
		<title>Edit Company</title>
	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a href="#">Companies</a></li>
					<li class="breadcrumb-item active" aria-current="page">Edit Company</li>
				</ol>
			</nav>
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					<h3>Edit Company</h3>
					<hr />
					<div class="row mx-0">
						<div class="col-12 px-0">
							<div class="accordion" id="accordion-edit">
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-general">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                      						aria-expanded="true" aria-controls="collapseOne">General information</a>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="heading-general" data-parent="#accordion-edit">
										<div class="card-body para__style">
											<form th:action="@{/edit-company}" th:object="${company}" method="post" enctype="multipart/form-data">
												<input type="hidden" th:field="*{id}">
												<div class="form-group row">
													<label for="name" class="col-sm-3 col-form-label input__label">Name</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{name}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="email" class="col-sm-3 col-form-label input__label">Email</label>
													<div class="col-sm-9">
														<input type="email" class="form-control input-style" th:field="*{email}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="phoneNumber" class="col-sm-3 col-form-label input__label">Phone number</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{phoneNumber}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="message" class="col-sm-3 col-form-label input__label">Message</label>
													<div class="col-sm-9">
														<textarea th:field="*{message}" class="form-control input-style" rows="3"></textarea>
													</div>
												</div>
												<div class="form-group row">
													<label for="aboutUs" class="col-sm-3 col-form-label input__label">About us</label>
													<div class="col-sm-9">
														<textarea th:field="*{aboutUs}" class="form-control input-style" rows="3"></textarea>
													</div>
												</div>
												<div class="form-group row">
													<label for="logo" class="col-sm-3 col-form-label input__label">Logo</label>
													<div class="col-sm-9">
														<input type="file" th:field="*{logo}" class="form-control input-style" />
													</div>
												</div>
												<div class="form-group row">
													<label for="line1" class="col-sm-3 col-form-label input__label">Line 1</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{line1}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="line2" class="col-sm-3 col-form-label input__label">Line 2</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{line2}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="line3" class="col-sm-3 col-form-label input__label">Line 3</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{line3}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="city" class="col-sm-3 col-form-label input__label">City</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{city}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="postalCode" class="col-sm-3 col-form-label input__label">Postal code</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{postalCode}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="localAuthority" class="col-sm-3 col-form-label input__label">Local authority</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{localAuthority}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="contactName" class="col-sm-3 col-form-label input__label">Contact name</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{contactName}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="contactEmail" class="col-sm-3 col-form-label input__label">Contact email</label>
													<div class="col-sm-9">
														<input type="email" class="form-control input-style" th:field="*{contactEmail}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="contactPhoneNumber" class="col-sm-3 col-form-label input__label">Contact phone</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{contactPhoneNumber}" />
													</div>
												</div>
												<div class="form-group row">
													<label for="website" class="col-sm-3 col-form-label input__label">Website</label>
													<div class="col-sm-9">
														<input type="text" class="form-control input-style" th:field="*{website}" />
													</div>
												</div>
												<div class="form-group row">
													<div class="col-sm-9 mt-3">
														<button type="submit" class="btn custom-btn">Save</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage1">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                      						aria-expanded="true" aria-controls="collapseTwo">Stage 1</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="heading-stage1" data-parent="#accordion-edit">
										<div class="card-body para__style">
											<form th:action="@{/edit-stage-1}" method="post">
												<input type="hidden" name="companyId" th:value="${company.id}">
												<div class="form-group row" th:each="question1 : ${questionStage1}">
													<th:block th:switch="${question1.type}">
														<th:block th:case="'textarea'">
															<label th:for="${'question1-' + question1.id}" th:text="${question1.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<textarea th:name="${'question1-' + question1.id}" th:id="${'question1-' + question1.id}" 
																	class="form-control input-style" rows="3"></textarea>
															</div>
														</th:block>
														<th:block th:case="'list'">
															<legend th:text="${question1.value}" class="col-sm-5 col-form-label input__label"></legend>
															<div class="col-sm-7">
																<th:block th:each="element : ${question1.getAllChoices()}">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" th:name="${'question1-' + question1.id}"
																			th:id="${element + '-' + question1.id}" th:value="${element}" />
																		<label th:for="${element + '-' + question1.id}" th:text="${element}"></label>
																	</div>
																</th:block>
															</div>
														</th:block>
														<th:block th:case="'select'">
															<label th:for="${'question1-' + question1.id}" th:text="${question1.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<select th:id="${'question1-' + question1.id}" th:name="${'question1-' + question1.id}" class="form-control input-style">
																	<option>Choose a value</option>
																	<th:block th:each="element : ${question1.getAllChoices()}">
																		<option th:value="${element}" th:text="${element}"></option>
																	</th:block>
																</select>
															</div>
														</th:block>
														<th:block th:case="'boolean'">
															<label th:for="${'question1-' + question1.id}" th:text="${question1.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<div class="form-check">
																	<input class="form-check-input" type="checkbox" th:name="${'question1-' + question1.id}"
																		th:id="${'question1-' + question1.id}" th:value="true" />
																</div>
															</div>
														</th:block>
														<th:block th:case="*">
															<label th:for="${'question1-' + question1.id}" th:text="${question1.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<input th:type="${question1.type}" class="form-control input-style" 
																	th:name="${'question1-' + question1.id}" th:id="${'question1-' + question1.id}" />
															</div>
														</th:block>
													</th:block>
												</div>
												<div class="form-group row">
													<div class="col-sm-9 mt-3">
														<button type="submit" class="btn custom-btn">Save</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage2">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                      						aria-expanded="true" aria-controls="collapseThree">Stage 2</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="heading-stage2" data-parent="#accordion-edit">
										<div class="card-body para__style">
											<form th:action="@{/edit-stage-2}" method="post">
												<div class="form-group row" th:each="question2 : ${questionStage2}">
													<th:block th:switch="${question2.type}">
														<th:block th:case="'textarea'">
															<label th:for="${'question2-' + question2.id}" th:text="${question2.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<textarea th:name="${'question2-' + question2.id}" th:id="${'question2-' + question2.id}" 
																	class="form-control input-style" rows="3"></textarea>
															</div>
														</th:block>
														<th:block th:case="'list'">
															<legend th:text="${question2.value}" class="col-sm-5 col-form-label input__label"></legend>
															<div class="col-sm-7">
																<th:block th:each="element : ${question2.getAllChoices()}">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" th:name="${'question2-' + question2.id}"
																			th:id="${element + '-' + question2.id}" th:value="${element}" />
																		<label th:for="${element + '-' + question2.id}" th:text="${element}"></label>
																	</div>
																</th:block>
															</div>
														</th:block>
														<th:block th:case="'select'">
															<label th:for="${'question2-' + question2.id}" th:text="${question2.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<select th:id="${'question2-' + question2.id}" th:name="${'question2-' + question2.id}" class="form-control input-style">
																	<option>Choose a value</option>
																	<th:block th:each="element : ${question2.getAllChoices()}">
																		<option th:value="${element}" th:text="${element}"></option>
																	</th:block>
																</select>
															</div>
														</th:block>
														<th:block th:case="'boolean'">
															<label th:for="${'question2-' + question2.id}" th:text="${question2.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<div class="form-check">
																	<input class="form-check-input" type="checkbox" th:name="${'question2-' + question2.id}"
																		th:id="${'question2-' + question2.id}" th:value="true" />
																</div>
															</div>
														</th:block>
														<th:block th:case="*">
															<label th:for="${'question2-' + question2.id}" th:text="${question2.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<input th:type="${question2.type}" class="form-control input-style" 
																	th:name="${'question2-' + question2.id}" th:id="${'question2-' + question2.id}" />
															</div>
														</th:block>
													</th:block>
												</div>
												<div class="form-group row">
													<div class="col-sm-9 mt-3">
														<button type="submit" class="btn custom-btn">Save</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage3">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFour"
                      						aria-expanded="true" aria-controls="collapseFour">Stage 3</a>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="heading-stage3" data-parent="#accordion-edit">
										<div class="card-body para__style">
											<form th:action="@{/edit-stage-3}" method="post">
												<div class="form-group row" th:each="question3 : ${questionStage3}">
													<th:block th:switch="${question3.type}">
														<th:block th:case="'textarea'">
															<label th:for="${'question3-' + question3.id}" th:text="${question3.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<textarea th:name="${'question3-' + question3.id}" th:id="${'question3-' + question3.id}" 
																	class="form-control input-style" rows="3"></textarea>
															</div>
														</th:block>
														<th:block th:case="'list'">
															<legend th:text="${question3.value}" class="col-sm-5 col-form-label input__label"></legend>
															<div class="col-sm-7">
																<th:block th:each="element : ${question3.getAllChoices()}">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" th:name="${'question3-' + question3.id}"
																			th:id="${element + '-' + question3.id}" th:value="${element}" />
																		<label th:for="${element + '-' + question3.id}" th:text="${element}"></label>
																	</div>
																</th:block>
															</div>
														</th:block>
														<th:block th:case="'select'">
															<label th:for="${'question3-' + question3.id}" th:text="${question3.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<select th:id="${'question3-' + question3.id}" th:name="${'question3-' + question3.id}" class="form-control input-style">
																	<option>Choose a value</option>
																	<th:block th:each="element : ${question3.getAllChoices()}">
																		<option th:value="${element}" th:text="${element}"></option>
																	</th:block>
																</select>
															</div>
														</th:block>
														<th:block th:case="'boolean'">
															<label th:for="${'question3-' + question3.id}" th:text="${question3.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<div class="form-check">
																	<input class="form-check-input" type="checkbox" th:name="${'question3-' + question3.id}"
																		th:id="${'question3-' + question3.id}" th:value="true" />
																</div>
															</div>
														</th:block>
														<th:block th:case="*">
															<label th:for="${'question3-' + question3.id}" th:text="${question3.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<input th:type="${question3.type}" class="form-control input-style" 
																	th:name="${'question3-' + question3.id}" th:id="${'question3-' + question3.id}" />
															</div>
														</th:block>
													</th:block>
												</div>
												<div class="form-group row">
													<div class="col-sm-9 mt-3">
														<button type="submit" class="btn custom-btn">Save</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage4">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFive"
                      						aria-expanded="true" aria-controls="collapseTwo">Stage 4</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="heading-stage4" data-parent="#accordion-edit">
										<div class="card-body para__style">
											<form th:action="@{/edit-stage-4}" method="post">
												<div class="form-group row" th:each="question4 : ${questionStage4}">
													<th:block th:switch="${question4.type}">
														<th:block th:case="'textarea'">
															<label th:for="${'question4-' + question4.id}" th:text="${question4.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<textarea th:name="${'question4-' + question4.id}" th:id="${'question4-' + question4.id}" 
																	class="form-control input-style" rows="3"></textarea>
															</div>
														</th:block>
														<th:block th:case="'list'">
															<legend th:text="${question4.value}" class="col-sm-5 col-form-label input__label"></legend>
															<div class="col-sm-7">
																<th:block th:each="element : ${question4.getAllChoices()}">
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox" th:name="${'question4-' + question4.id}"
																			th:id="${element + '-' + question4.id}" th:value="${element}" />
																		<label th:for="${element + '-' + question4.id}" th:text="${element}"></label>
																	</div>
																</th:block>
															</div>
														</th:block>
														<th:block th:case="'select'">
															<label th:for="${'question4-' + question4.id}" th:text="${question4.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<select th:id="${'question4-' + question4.id}" th:name="${'question4-' + question4.id}" class="form-control input-style">
																	<option>Choose a value</option>
																	<th:block th:each="element : ${question4.getAllChoices()}">
																		<option th:value="${element}" th:text="${element}"></option>
																	</th:block>
																</select>
															</div>
														</th:block>
														<th:block th:case="'boolean'">
															<label th:for="${'question4-' + question4.id}" th:text="${question4.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<div class="form-check">
																	<input class="form-check-input" type="checkbox" th:name="${'question4-' + question4.id}"
																		th:id="${'question4-' + question4.id}" th:value="true" />
																</div>
															</div>
														</th:block>
														<th:block th:case="*">
															<label th:for="${'question4-' + question4.id}" th:text="${question4.value}" 
																class="col-sm-5 col-form-label input__label"></label>
															<div class="col-sm-7">
																<input th:type="${question4.type}" class="form-control input-style" 
																	th:name="${'question4-' + question4.id}" th:id="${'question4-' + question4.id}" />
															</div>
														</th:block>
													</th:block>
												</div>
												<div class="form-group row">
													<div class="col-sm-9 mt-3">
														<button type="submit" class="btn custom-btn">Save</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-end mt-3">
								<a class="btn btn-light ml-2" th:href="@{/companies}">Back</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
