<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <link rel="icon" type="image/png" th:href="@{images/mini-logo.png}">
        
        <title>CRM - Details</title>
        
        <link rel="stylesheet" th:href="@{css/style-starter.css}">
	    <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
	
		<!-- Custom style for our use -->
		<link rel="stylesheet" th:href="@{css/custom-style.css}">
		
		<style>
			.c-state{
				background: yellow;
				margin-right: 8px;
				padding: 4px;
			}
		</style>
    </head>
   <body>
   		<div class="container">
   			<div class="card card_border">
   				<div class="card-body">
   					<div class="row mb-4" style="height: 70px;">
   						<div class="col-md-3 h-100">
   							<img style="height: 100%; width: auto;" th:src="@{images/logo.png}" />
   						</div>
   					</div>
   					<div class="row">
   						<div class="col-md-12">
   							<h3>Company Details</h3>
							<hr />
							
							<div class="accordion" id="accordion-details">
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-general">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                      						aria-expanded="true" aria-controls="collapseOne">General information</a>
									</div>
									<div id="collapseOne" class="collapse show" aria-labelledby="heading-general" data-parent="#accordion-details">
										<div class="card-body para__style">
											<table class="company-details">
												<tr>
													<td>Logo</td>
													<td>
														<div style="height: 120px">
															<img th:src="@{'/files/' + ${company.logoLink}}" />
														</div>
													</td>
												</tr>
												<tr>
													<td>Name</td>
													<td th:text="${company.name}"></td>
												</tr>
												<!--  <tr>
													<td>Email</td>
													<td th:text="${company.email}"></td>
												</tr>-->
												<tr>
													<td>Employer's name</td>
													<td th:text="${company.phoneNumber}"></td>
												</tr>
												<tr>
													<td>Address</td>
													<td th:text="${company.message}"></td>
												</tr>
												<tr>
													<td>Zip Code / Post Code</td>
													<td th:text="${company.aboutUs}"></td>
												</tr>
												<tr>
													<td>Turnover</td>
													<td th:text="${company.line1}"></td>
												</tr>
												<!--  <tr>
													<td>Line 2</td>
													<td th:text="${company.line2}"></td>
												</tr>
												<tr>
													<td>Line 3</td>
													<td th:text="${company.line3}"></td>
												</tr>
												<tr>
													<td>City</td>
													<td th:text="${company.city}"></td>
												</tr>
												<tr>
													<td>Postal code</td>
													<td th:text="${company.postalCode}"></td>
												</tr>
												<tr>
													<td>Local authority</td>
													<td th:text="${company.localAuthority}"></td>
												</tr>
												<tr>
													<td>Contact name</td>
													<td th:text="${company.contactName}"></td>
												</tr>-->
												<tr>
													<td>Contact email</td>
													<td th:text="${company.contactEmail}"></td>
												</tr>
												<tr>
													<td>Contact phone number</td>
													<td th:text="${company.contactPhoneNumber}"></td>
												</tr>
												<tr>
													<td>Website</td>
													<td th:text="${company.website}"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage1">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                      						aria-expanded="true" aria-controls="collapseTwo">Stage 1</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="heading-stage1" data-parent="#accordion-details">
										<div class="card-body para__style">
											<th:block th:if="${questionStage1 == null}">
												<div>Please complete stage 1</div>
											</th:block>
											<th:block th:unless="${questionStage1 == null}">
												<table class="company-details">
													<tr th:each="question1 : ${questionStage1}", th:with="ans=${question1.getAnswerStage1ByCompanyId(company.id)}">
														<td th:text="${question1.value}"></td>
														<td>
															<th:block th:if="${question1.prioritySectorNumber == null}">
																<th:block th:if="${question1.type == 'file'}">
																	<a class="btn btn-info" target="_blank" 
																			th:if="${ans != null}" th:href="@{'/files/' + ${ans.value}}">
																		Download file
																	</a>
																</th:block>
																<th:block th:unless="${question1.type == 'file'}">
																	<th:block th:if="${question1.validatorSideNumber == null}">
																		<span th:if="${ans != null}" th:text="${ans.value}"></span>
																	</th:block>
																	<th:block th:unless="${question1.validatorSideNumber == null}">
																		<span class="c-state" th:text="${ans != null && ans.value == 'yes' ? 'Valid' : 'Invalid'}"></span>
																		<a class="btn btn-info" th:href="@{'/toggle-validation-question-1-' + ${question1.id} + '-' + ${company.id}}">
																			<span th:text="${ans != null && ans.value == 'yes' ? 'Invalidate ?' : 'Validate ?'}"></span>
																		</a>
																	</th:block>
																</th:block>
															</th:block>
															<th:block th:unless="${question1.prioritySectorNumber == null}">
																<th:block th:each="sector : ${sectors}">
																	<th:block th:if="${ans != null && ans.value == '' + sector.id}">
																		<span th:text="${sector.name}"></span>
																	</th:block>
																</th:block>
															</th:block>
														</td>
													</tr>
												</table>
											</th:block>
										</div>
									</div>
								</div>
								
								<div class="card">
									<div class="card-header bg-white p-0" id="heading-stage2">
										<a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                      						aria-expanded="true" aria-controls="collapseThree">Stage 2</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="heading-stage2" data-parent="#accordion-details">
										<div class="card-body para__style">
											<th:block th:if="${choosenSectors == null}">
												<div>Please complete stage 1</div>
											</th:block>
											<th:block th:unless="${choosenSectors == null}">
												<div class="my-2" th:each="choosenSector : ${choosenSectors}">
													<h3 class="text-dark" th:text="${choosenSector.name}"></h3>
													<table class="company-details">
														<tr th:each="question2 : ${choosenSector.getSortedCompanyQuestions()}", th:with="ans=${question2.getAnswerStage2ByCompanyId(company.id)}">
															<td th:text="${question2.value}"></td>
															<td>
																<th:block th:if="${question2.type == 'file'}">
																	<a class="btn btn-info" target="_blank" 
																			th:if="${ans != null}" th:href="@{'/files/' + ${ans.value}}">
																		Download file
																	</a>
																</th:block>
																<th:block th:unless="${question2.type == 'file'}">
																	<th:block th:if="${question2.validatorSideNumber == null}">
																		<span th:if="${ans != null}" th:text="${ans.value}"></span>
																	</th:block>
																	<th:block th:unless="${question2.validatorSideNumber == null}">
																		<span class="c-state" th:text="${ans != null && ans.value == 'yes' ? 'Valid' : 'Invalid'}"></span>
																		<a class="btn btn-info" th:href="@{'/toggle-validation-question-2-' + ${question2.id} + '-' + ${company.id}}">
																			<span th:text="${ans != null && ans.value == 'yes' ? 'Invalidate ?' : 'Validate ?'}"></span>
																		</a>
																	</th:block>
																</th:block>
															</td>
														</tr>
													</table>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</div>
   						</div>
   					</div>
   				</div>
   			</div>
   			<div></div>
   		</div>
   		
   		<script th:src="@{js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{js/jquery-1.10.2.min.js}"></script>
		
		<script th:src="@{js/scripts.js}"></script>
		<script th:src="@{js/bootstrap.min.js}"></script>
    </body>
</html>