<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layouts/common.html}">
<head>
<meta charset="UTF-8">
<title>Link for Validation</title>
<Style>
   th, td {
      padding: 10px;
      border: 1px solid grey;
      border-collapse: collapse;
      
      text-align: center;
      }

</Style>
</head>
<body>
<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a class="text-home"  th:href="@{/companies}">Companies</a></li>
					<li class="breadcrumb-item active" aria-current="page">SME Validationt</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					
					<div class="row mx-0">
						<div class="col-md-4 px-0">
						<h3>Link for Validation</h3>
					
						</div>
						
					</div>
					<hr>
					<div style=" background-color:green; color : white;" id="info" class="row mx-0 " th:if="${infos  != null}">
				
						<div class="col-md-4 px-0">
					</div>
				
					<div class="col-md-8 px-0">
					
					<h4 th:text="${infos}"></h4>
					
					</div>
					</div>
					<div id="infoerror" style=" background-color: red; color : white;" class="row mx-0 " th:if="${error  != null}">
				
						<div class="col-md-5 px-0">
					</div>
				
					<div class="col-md-7 px-0">
					
					<h4 th:text="${error}"></h4>
					
					</div>
					</div>
					<div class="row col-md-12" >
					
												<div class="col-md-12 px-0 ">
						
		
				
					<table  id='tab'   class="stripe">
                                    <thead>
                                    <tr>
                                        <th>Link for Validation</th>
                                                                                                                  
                                    </tr>
                                    </thead>
                                    <tbody >
                                
                                         <tr >
                                            <td id="copytext" th:text="${link}"></td>
                                         

                                        </tr>
                                  
                                    </tbody>
                                </table>
				<!--  	<div class="d-flex justify-content-end mt-3">
						<a class="btn custom-btn ml-2" onclick="copyToClipBoard()" ><font color="white">Copy</font></a>
						
					</div>-->
		
                                </div>
					</div>
				</div>
			</div>
		</div>
		<script>
		
		
		</script>
</body>
</html>