<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layouts/common.html}">
	<head>
		<title>Permissions</title>
		<meta charset="utf-8">
<Style>
   th, td {
      padding: 10px;
      border: 1px solid grey;
      border-collapse: collapse;
      
      text-align: center;
      }
</Style>

	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Permission</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					<h3>Permissions List</h3>
				<hr>
					
					<div class="row col-md-12">
					
												<div class="col-md-12 px-0 ">
						
				  <table  id='tab'   class="stripe">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Identifiant</th>
                                        <th>Description</th>
                                        <th>Created At</th>
                                        

                                    </tr>
                                    </thead>
                                    <tbody >
                                    
                                      <!--
                                    <tbody th:each="Permission, stat : ${clientList}">
                                         <tr id="${Permission.id}">
                                            <td th:text="${Permission.name}"></td>
                                            <td th:text="${Permission.guardName}"></td>
                                            <td th:text="${Permission.description}"></td>

                                        </tr>--> 
                                         <tr  th:each="Permission: ${liste}">
                                            <td th:text="${Permission.name}"></td>
                                            <td th:text="${Permission.guardName}"></td>
                                            <td th:text="${Permission.description}"></td>
                                            <td th:text="${#dates.format(Permission.createdAt, 'yyyy-MMM-dd')}"></td>

                                        </tr>
                                  
                                    </tbody>
                                </table>
                                </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
