<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/unique.html}">
    <head>
        <title>Login</title>
        
    </head>
    <body style="background-color:grey;">
    	<div layout:fragment="content">
    		<div class="custom-panel">
    			<!-- <div class="login-icon d-flex align-items-center justify-content-center">
    				 <i class="fa fa-user-o"></i>
    			
    			</div>-->
    			<center><img th:src="@{images/logo.png}" alt="logo-icon" width="70%"></center>
    			
    			<!--  <h3 class="text-center mb-4">Sign In</h3>-->
    			<form th:action="@{/login}" method="post">
					<div class="form-group">
						<input type="text" class="form-control input-style" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-style" name="password" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="submit" class="btn custom-btn input-style form-control" value="Login">
					</div>
					<div class="form-check check-remember check-me-out">
						<input type="checkbox" class="form-check-input checkbox" id="remember-me" name="remember" disable>
						<label class="form-check-label checkmark" for="remember-me">Remember me</label>
					</div>
				</form>
    		</div>
    	</div>
    </body>
</html>