<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="header sticky-header" layout:fragment="header">
        <!-- notification menu start -->
       
    		<div class="custom-panel2">

				
					
				<div class="row mx-0">
						<div class="col-md-3 px-0">
						 <img th:src="@{images/logo.png}" alt="logo-icon" width="25%" height="80%" >
					
						</div>
							
						<div class="col-md-3 px-0  justify-content-end">
						
						</div>
						
						<div class="col-md-3 px-0  justify-content-end">
							
						</div>
						
						<div class="col-md-3 px-0 " style="display: table-cell; vertical-align: middle;">
							<a class="btn custom-btn col-md-5" th:href="@{/login}" style="float: right;  ">Login</a>
						</div>
					</div>
				

		
		</div>
	
    	<!--notification menu end -->
	</div>
</html>