<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{./layouts/common.html}">
	<head>
		<title>Registration Business</title>
		<meta charset="utf-8">
<Style>
   th, td {
      padding: 10px;
      border: 1px solid grey;
      border-collapse: collapse;
      
      text-align: center;
      }
</Style>

	</head>
	<body>
		<div layout:fragment="content">
	        <nav aria-label="breadcrumb">
				<ol class="breadcrumb my-breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Business</li>
				</ol>
			</nav>
			
			<div class="pt-3 pb-4">
				<div class="custom-panel">
					
					<div class="row mx-0">
						<div class="col-md-4 px-0">
						<h3>Registrations List</h3>
					
						</div>
						<div class="col-md-8 px-0 d-flex justify-content-end">
							
						</div>
					</div>
					<div id="info" class="row mx-0 " th:if="${infos  != null}">
				
						<div class="col-md-5 px-0">
					</div>
				
					<div class="col-md-7 px-0">
					
					<font color="green"><h4 th:text="${infos}"></h4></font>
					
					</div>
					</div>
					<hr>
					<div class="row col-md-12" sec:authorize="hasAnyAuthority('super_admin')">
					
												<div class="col-md-12 px-0 ">
						
				  <table  id='tab'   class="stripe">
                                    <thead>
                                    <tr>
                                        
                                        <th>Created At</th>
                                        <th>Name</th>
                                         <th>Email</th>
                                        <th>Phone</th>
                                        <th>Mesaage</th>

                                        

                                    </tr>
                                    </thead>
                                    <tbody >

                                         <tr  th:each="bus: ${liste}">
                                            <td th:text="${#dates.format(bus.createdAt, 'yyyy-MMM-dd')}"></td>
                                            <td th:text="${bus.name}"></td>
                                            <td th:text="${bus.email}"></td>
                                            <td th:text="${bus.tel}"></td>
                                            <td th:text="${bus.message}"></td>                                  
										<!-- 	<td>
											<a class="btn btn-success" th:href="@{/showUpdateuser(userid=${Utilisateur.id})}" >Update</a>
                                            <a class="btn btn-primary"  th:href="@{/detailsUser(userid=${Utilisateur.id})}" >Details</a>
                                            <a class="btn btn-danger deleteButton" 	 th:href="@{/deleteUser(userid=${Utilisateur.id})}" >Delete</a>
                                            
 -->
                                        </tr>
                                  
                                    </tbody>
                                </table>
                                </div>
					</div>
				</div>
			</div>
			<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Confirm delete</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this record?</p>
			</div>
			<div class="modal-footer">
				<a href="" class="btn btn-success" id="delRef">Yes, Delete</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
		</div>
	</body>
</html>
